.serif {
    font-family: Times, Times New Roman, Georgia, serif;
}

.sansserif {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.monospace {
    font-family: Lucida Console, Courier, monospace;
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

.system-ui {
    font-family: system-ui;
}

.math {
    font-family: math;
}

.emoji {
    font-family: emoji;
}

.fangsong {
    font-family: fangsong;
}